* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* header */
.header {
  color: white;
  background-color: #1e24ac;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px;
}
.header #menu {
  display: grid;
  column-gap: 50px;
  grid-template-columns: 50px 120px 170px 50px;
  margin-left: 450px;
  margin-top: 50px;
}
.header #logo img {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  width: 200px;
  height: 100px;
}
.header #sign img {
  margin-top: 30px;
  margin-left: 1270px;
  width: 60px;
  height: 60px;
}


/* search */
.ser {
  display: flex;
}
.search {
  display: grid;
  grid-template-columns: 60% 40%;
  column-gap: 10px;
}
.search #left {
  display: grid;
  grid-template-rows: 10px 30px 110px 10px;
  margin-left: 70px;
  margin-top: 50px;
}
.search #left input {
  width: 700px;
  height: 80px;
  border-color: #f64c71;
  border-radius: 26px;
}
.search #left button {
  border: none;
  background-color: white;
  position: relative;
  margin-left: 10px;
}
.search #left button img {
  width: 50px;
  height: 50px;
}
.search #left #one {
  color: #1e24ac;
  margin-left: 10px;
  font-size: 20px;
}
.search #left #two {
  color: #1e24ac;
  font-size: 50px;
  font-weight: bold;
}
.search #left #three {
  color: #1e24ac;
  margin-left: 10px;
  font-size: 20px;
}

/* .slider */
.image-slideshow{
min-width: 450px !important;
min-height: 500px !important;
position: relative;
object-fit: cover;
margin-top: 20px !important;
}
.fade {
animation-name: fade;
animation-duration: 2s;
}
@keyframes fade {
from {opacity: .5}
to {opacity: 1}
}
/* katalog */
.katalog {
  color: #1e24ac;
}
.katalog img {
  width: 50px;
  height: 50px;
}
.katalog #one {
  color: #1e24ac;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
.katalog #two {
  color: #f64c71;
  font-size: 20px;
  text-align: center;
}

#profs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.katalog #profs #prof1 p {
  margin-left: 20px;
  margin-top: 10px;
}

.katalog #profs #prof2 p {
  margin-left: 20px;
  margin-top: 10px;
}

.katalog #profs #prof3 p {
  margin-left: 20px;
  margin-top: 10px;
}

#prof1,
#prof2,
#prof3 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 40px;
  font-size: 20px;
}
.buttonKat button {
  display: inline-block; /* Строчно-блочный элемент */
  background: #ffffff;
  color: #f64c71;
  text-decoration: none; /* Убираем подчёркивание */
  border-radius: 15px;
  width: 300px;
  height: 50px;
  border-color: #1e24ac;
  font-size: 25px;
  margin-left: 550px;
}
/* work */
.work #p {
  color: #1e24ac;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.work #works {
  width: 350px;
  height: 350px;
  display: grid;
  grid-template-columns:350px 350px 350px;
  justify-content: center;
  column-gap: 100px;
  margin-left: 50px;
  color: white;
  background-image: url("../worker/img/gradient.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* animate */
.scale :hover {
  width: 400px;
  height: 400px;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;  
  font-size: 24px;
  font-family: 'Roboto', sans-serif;         
  background-repeat: no-repeat;
  background-image:   linear-gradient(to right, #BFE2FF 100%, #BFE2FF 100%),
      linear-gradient(to bottom, #BFE2FF 100%, #BFE2FF 100%),
      linear-gradient(to right, #BFE2FF 100%, #BFE2FF 100%),
      linear-gradient(to bottom, #BFE2FF 100%, #BFE2FF 100%);
  background-size:    100% 6px, 6px 100%, 100% 6px, 6px 100%;
  background-position:    0 0, 100% 0, 100% 100%, 0 100%;
  animation: anim-ramka-6 1.25s cubic-bezier(0.19, 1, 0.22, 1) 1;
  animation-play-state: paused;
 }
 .scale:hover {
  animation-play-state: running;
}
@keyframes anim-ramka-6 {
  0% {
      background-size:    0 6px, 6px 0, 0 6px, 6px 0;
  }
  25% {
      background-size:    100% 6px, 6px 0, 0 6px, 6px 0;
  }
  50% {
      background-size:    100% 6px, 6px 100%, 0 6px, 6px 0;
  }
  75% {
      background-size:    100% 6px, 6px 100%, 100% 6px, 6px 0;
  }
  100% {
      background-size:    100% 6px, 6px 100%, 100% 6px, 6px 100%;
  }
}
/* footer */
.footer {
  background-color: #1e24ac;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 300px;
  margin-top: 10px;
}

.footer .str {
  margin-left: 50px;
}
.footer .social img {
  width: 50px;
  height: 50px;
}
.footer .tel img {
  width: 50px;
  height: 50px;
}
.footer .social {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  column-gap: 10px;
  margin-top: 20px;
}
.footer .tel {
  display: grid;
  grid-template-columns: 80px 150px;
  column-gap: 10px;
  margin-top: 20px;
}
.footer .tel p {
  margin-top: 15px;
}
.footer p {
  color: white;
}
